{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <!-- If request comes from index page, then fill in the stock symbol field automatically, and ask for shares -->
        {% if symbol %}
            <div class="form-group">
                <input class="form-control" name="symbol" value="{{symbol}}" type="text">
            </div>

        <!-- If request comes from navigation bar, then ask for stock symbol and shares -->
        {% else %}
            <div class="form-group">
                <select class="form-control" name="symbol">
                    <option disabled selected value="">Stock Symbol</option>
                    {% for symbol in stocks %}
                        <option value="{{symbol}}">{{symbol}}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        <div class="form-group">
            <input class="form-control" min="0" name="shares" placeholder="Number of Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
